<li id="article-<%= article.id %>">
  <%= link_to gravatar_for(article.user, size: 50), article.user %>
  <span class="user"><%= link_to article.user.name, article.user %></span>
  <span class="content">
    <%= article.content %>
    <% article.display_images.each do |i| %>
      <%= image_tag i %>
    <% end %>
  </span>
  <span class="timestamp">
    Articles <%= time_ago_in_words(article.created_at) %>
    <% if current_user?(article.user) %>
      <%= link_to 'delete', article, method: :delete,
                                     data: { confirm: 'You sure?'} %>
    <% end %>
  </span>
</li>