<% provide(:title, @title) %>
<h1><%= @title %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: attack_path(22), method: :patch, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :note do %>
          Input a note title:
        <% end %>
        <%= f.text_field :note, class: 'form-control', placeholder: 'note title' %>
        <span class="help-block">
          <p>Expected input: <%= @notes %></p>
          <p>Malicious input: ../secret </p>
        </span>
      </div>

      <div class="checkbox">
        <%= f.label :defense do %>
          <%= f.check_box :defense %>
          Defense the attack
        <% end %>
      </div>

      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% if @note %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <pre><%= @note %></pre>
    </div>
  </div>
<% end %>
