<% provide(:title, @title) %>
<h1><%= @title %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: attack_path(643), method: :patch, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :title do %>
          Input a title:
        <% end %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'title' %>
        <span class="help-block">
          <p>Sample input: XML</p>
        </span>
        <span class="help-block">
          <p>Malicious input: ') or ('1'='1</p>
        </span>
      </div>

      <div class="checkbox">
        <%= f.label :defense do %>
          <%= f.check_box :defense %>
          Defense the attack
        <% end %>
      </div>

      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% if @books %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book[:title] %></td>
              <td><%= book[:author] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
