<% provide(:title, @title) %>
<h1><%= @title %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: attack_path(759), method: :patch, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :text do %>
          Input a text:
        <% end %>
        <%= f.text_field :text, class: 'form-control', placeholder: 'text' %>
      </div>

      <div class="checkbox">
        <%= f.label :defense do %>
          <%= f.check_box :defense %>
          With salt
        <% end %>
      </div>

      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% if @hash %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4>Hash</h4>
      <pre><%= @hash %></pre>
    </div>
  </div>
<% end %>