<% provide(:title, 'Uploads') %>
<h1>Uploads</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @uploads.each do |upload| %>
          <tr>
            <td><%= upload.file.filename %></td>
            <td><%= link_to 'Download', url_for(upload.file) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @upload, local: true) do |f| %>
      <div class="form-group">
        <%= f.file_field :file, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
      <%= f.submit 'Upload', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
